.wrapper-contact {
  margin-top: -10px;
  background-color: #ffb900;
}

.container-contact {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.container-contact .contact {
  margin: 0px 10px;
  width: 40%;
}

.container-contact .contact h1 {
  color: white;
  font-weight: bold;
}

.container-contact .contact p {
  margin: 30px 0px;
}

.container-contact .contact a {
  text-decoration: none;
  color: #000;
  transition: color 0.1s;
}

.container-contact .contact a:hover {
  color: white;
}

.form-email {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-width: 30%;
}

#first-name {
  margin-right: 1px;
}

#last-name {
  margin-left: 1px;
}

.form-email input {
  margin-bottom: 3px;
  height: 26px;
  outline: none;
  border: none;
  padding: 3px 20px;
}

.form-email textarea {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
}

.form-email .button-form button {
  margin-top: 3px;
  width: 100%;
  height: 30px;
  border: none;
  background: #0f0e0e;
  font-size: 16px;
  transition: all 0.2s;
  color: white;
  outline: none;
}

.form-email .button-form button:hover {
  background: inherit;
  border: 1px solid black;
  cursor: pointer;
}

.form-email .button-form button:active {
  border-color: white;
}

@media only screen and (max-width: 900px) {
  .container-contact {
    flex-direction: column;
  }

  .container-contact .contact {
    width: 80%;
    margin-bottom: 30px;
  }

  .container-contact .contact h1,
  .container-contact .contact p {
    text-align: center;
  }

  .container-contact .contact a {
    text-align: center;
    margin: auto;
  }

  .form-email div {
    display: flex;
  }

  #first-name {
    margin-right: 2px;
  }

  #last-name {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 400px) {
  .contact {
    margin: auto;
  }

  .contact h1 {
    font-size: 28px;
    width: 100%;
  }

  .container-contact .contact p {
    font-size: 12px;
  }

  .container-contact .contact a {
    font-size: 12px;
  }

  .form-email {
    width: 75%;
    margin: auto;
  }

  .form-email div {
    flex-direction: column;
  }

  #first-name,
  #last-name {
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
