.container-experience {
  background-color: #ffb900;
}

.experience {
  width: 80%;
  margin: -5px auto;
  padding: 20px 0px;
}

.experience .experience-title {
  color: white;
  margin: 50px 0px;
}

.experience .experience-title p {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.experience .container-timeline {
  width: 100%;
  margin: 20px auto;
  display: flex;
  padding: 20px 0px;
  max-height: 400px;
  overflow-y: scroll;
}

.experience .container-timeline::-webkit-scrollbar {
  width: 10px;
}

.experience .container-timeline::-webkit-scrollbar-thumb {
  background: white;
}

.experience .container-timeline .timeline {
  padding: 20px 0px;
  width: 100%;
  max-width: 90%;
  margin: 0px auto;
  position: relative;
  padding-bottom: 20px;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0px;
}

.timeline li .timeline-content {
  padding: 15px 20px;
}

.timeline-content .date {
  font-size: 14px;
  color: grey;
  letter-spacing: 1px;
}

.timeline-content h1 {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 20px;
}

.timeline-content p {
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .experience .experience-title p {
    font-size: 40px;
  }

  .container-timeline::-webkit-scrollbar-thumb {
    background: white;
  }

  .container-timeline {
    max-height: 500px;
    overflow-y: scroll;
  }

  .timeline::before {
    content: "";
    position: absolute;
    height: calc(140px * 5);
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
    transition: border-radius 0.2s;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-20px);
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(20px);
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    right: -20px;
    transform: translate(50%, -50%);
  }

  .timeline ul li:nth-child(even)::after {
    left: -20px;
    transform: translate(-50%, -50%);
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
    color: white;
    font-size: unset;
  }

  .timeline-content p {
    font-size: unset;
  }
  .timeline-content h1 {
    font-size: 28px;
  }

  .timeline ul li:nth-child(odd):hover {
    border-radius: 10px 0px 10px 0px;
  }

  .timeline ul li:nth-child(even):hover {
    border-radius: 0px 10px 0px 10px;
  }
}
