.container-skill {
  margin: 50px auto;
  width: 80%;
}

.container-box {
  max-width: 100%;
}

.skill {
  margin: auto;
  background: #ffffff;
}

.skill-title {
  margin: 50px 0px;
  letter-spacing: 3px;
  cursor: pointer;
}

.skill-title p {
  font-size: 40px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.category-skill {
  margin: 30px 10px;
}

.category-skill p {
  font-size: 26px;
  font-weight: bold;
}

.container-category-skill::-webkit-scrollbar {
  display: none;
}

.container-category-skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /*Internet Explorer or Edge*/
  scrollbar-width: none; /* Firefox*/
}

.box {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  margin: 0px 10px;
}

.box .box-image img {
  width: 190px;
  height: 170px;
  padding: 10px;
}

.box .text {
  color: #999;
  font-weight: bold;
  padding: 25px 0 0;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s;
}

.box:hover > #text {
  color: #ffb900;
}

.note-skill {
  text-align: right;
  right: 0;
}

@media only screen and (max-width: 900px) {
  .container-skill {
    margin: 50px auto;
    width: 90%;
  }

  .skill-title p {
    font-size: 30px;
  }

  .note-skill p {
    font-size: 12px;
  }

  .category-skill p {
    font-size: 20px;
  }

  .container-category-skill {
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container-category-skill .box {
    width: 160px;
    height: 240px;
  }

  .text {
    font-size: 18px;
  }
}
